<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><link rel="icon" type="image/png" sizes="16x16" href="#">
    <title>Unsubscribe</title>
    <link href="/public/unsub/OpenSans-Regular.ttf" rel="stylesheet" type="text/css">
    <link href="/public/unsub/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/public/unsub/style.css" rel="stylesheet" type="text/css">
    <link href="/public/unsub/style1.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="row">
    <div class="col-lg-4 col-md-4 col-xs-4"></div>
    <div class="col-lg-4 col-md-4 col-xs-4 unsubcribe">
        Thank you, you've Re-subscribed,<br>
        <td width="300" align="right"><a href="http://www.wunderbrow.co.uk/w/tour/" style="color:#df882a; text-decoration:underline;">Visit our website</a></td>

    </div>
</div>
</body>
</html>